[Unit]
Description=Luanti multiplayer server (server config luanti.conf)
Documentation=man:luantiserver(6)
After=network.target

[Service]
Restart=on-failure
User=luanti
Group=luanti
ExecStart=/usr/bin/luantiserver --config /etc/luanti/luanti.conf --logfile /var/log/luanti/luanti-server.log
StandardOutput=null

[Install]
WantedBy=multi-user.target

