[Desktop Entry]
Name=Blockbench
Exec=blockbench %U
Terminal=false
Type=Application
Icon=blockbench
StartupWMClass=Blockbench
Comment=Low-poly modeling and animation software
Categories=3DGraphics;
MimeType=application/x-bbmodel
