[Desktop Entry]
Name=NexusMods.App NXM Handler
Terminal=false
Type=Application
Exec=nexusmods protocol-invoke --url %u
MimeType=x-scheme-handler/nxm
NoDisplay=true
